
# API Configuration
API_PORT=3000
API_TOKEN_SECRET=

# HAProxy Dynamic Configuration
DYNAMIC_CONFIG_DIR=/usr/local/etc/haproxy/dynamic_config

# SSL Certificate Directory
SSL_CERT_DIR=/usr/local/etc/haproxy/certs

# Config Templates Directory
TEMPLATE_DIR=$PWD/templates

# Enables the GELF log redirector
START_LOG_REDIRECTOR=false