global
    # - Configure logging to stdout in raw format for local0 facility with info level
    log stdout format raw local0 info
    
    # - Enable the stats socket for management API access
    stats socket /var/run/haproxy.sock mode 660 level admin

    # - Configure JSON logging for the redirector
    log /var/log/access_json.log format json local1


defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 10s
    timeout client 30s
    timeout server 30s

    # Default log format (local0)
    log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %r"

    # JSON log format for local1 (used by redirector)
    log-format "{\"host\" : \"%[req.hdr(Host)]\", \"client_ip\":\"%ci\",\"client_port\":%cp,\"accept_date\":\"%tr\",\"frontend_name\":\"%ft\",\"backend_name\":\"%b\",\"server_name\":\"%s\",\"time_request\":\"%TR\",\"time_waiting\":\"%Tw\",\"time_connecting\":\"%Tc\",\"time_response\":\"%Tr\",\"time_total\":\"%Ta\",\"status_code\":%ST,\"bytes_read\":%B,\"termination_state\":\"%tsc\",\"actconn\":%ac,\"feconn\":%fc,\"beconn\":%bc,\"srv_conn\":%sc,\"retries\":%rc,\"srv_queue\":%sq,\"backend_queue\":%bq,\"http_request\":\"%hr\",\"http_response\":\"%hs\",\"http_referer\":\"%{Referer}i\",\"http_user_agent\":\"%{User-Agent}i\"}" local1      