frontend ${DOMAIND_ID}_http
    bind *:80
    mode http
    redirect scheme https code 301 if { hdr(host) -i ${DOMAIN} }

frontend ${DOMAIND_ID}
    bind *:443 ssl crt ${SSL_CERT_PATH} 
    mode http
    option httpclose
    option forwardfor

    # Match traffic for specific domain
    acl ${DOMAIN_ID}_hostacl hdr(host) -i ${DOMAIN}
    use_backend ${DOMAIN_ID}_backend if ${DOMAIN_ID}_hostacl

backend ${DOMAIND_ID}_backend
    mode http
    server app ${ORIGIN_IP}:443 ssl verify none

